.p {
  width: 30%;
  height: 40vh;
  margin: 20px 10px;
  border: 2px solid rgb(239, 239, 239);
  border-radius: 10px 10px 0px 0px;
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(239, 239, 239);
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

#p-name {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 800;
}

.p-img {
  width: 100%;
  transition: all 10s ease;
}

.p:hover .p-img {
  transform: translateY(-50%);
}


@media screen and (max-width: 480px) {
  .p {
    width: 40%;
    height: 20vh;
  }

  .pl-texts {
    width: 100%;
  }
}