.navBar {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
  box-shadow: 0px 5px 10px rgb(211, 211, 211);
  position: fixed;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.navBar button {
  position: fixed;
  left: 400px;
  top: 40px;
  z-index: 10;
  cursor: pointer;
}

.n-img {
  display: flex;
  height: 10vh;
  width: auto;
  align-items: center;
}

.n-ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  align-items: center;
}

.n-link {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  padding: 2rem;
}

.n-link:active {
  color: #38afd1;
}

.n-link:hover {
  color: #38afd1;
}

@media screen and (max-width: 480px) {
  .nav {
    display: flex;
    width: 100%;
      justify-content: space-between;
        box-sizing: border-box;
        align-items: stretch;
    margin-right: auto;
  }

  .n-ul {
    margin-right: auto;
    display: flex;
  }

  
}